.container {
  display: flex;
  justify-content: center;
}

.col {
  padding: 1em;
  vertical-align: middle;
  align-content: center;
  display: grid;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 1em;
  width: 100%;
}

.square {
  height: 150px;
  width: 150px;
}

h1 {
  color: rgb(65, 157, 220);
}
